<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Mes positions</title>

    <link rel="stylesheet" href="static/style.css"/>
    <link rel="icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="https://unpkg.com/maplibre-gl@^6.7.0/dist/maplibre-gl.css" />
    <style>
      #map {
        height: 400px;
      }
    </style>
  </head>

  <body>
  <h1>Ma position</h1>
  <main class="dashboard-container">
  <section class="dashboard-sub-container">

    <div class="card">
    <h2>info</h2>
      <a>Latitude</a> : {{ latitude }}
      Longitude : {{ longitude }}
      Timestamp : {{ timestamp }}
    </div>

    <div class ="card">
      <h2>description</h2>
      {{ description }}
    </div>
    <div class ="card">
      <h2>photos</h2>
      {{ upload_id }}
    </div>
  </section>
  <aside class="card">
    <div id="map"></div>
  </aside>
  </main>

  <script type="module">
    import * as maplibregl from "https://unpkg.com/maplibre-gl@6.7.0/dist/maplibre-gl.mjs";

    // Création de la carte
    const map = new maplibregl.Map({
      container: "map",
      style: "https://demotiles.maplibre.org/globe.json",
      center: [0, 0],
      zoom: 2.5,
      minZoom: 2.5,
      maxZoom: 20,
    });

    // Récupération des positions
    async function loadMarkers() {
      // Position actuelle
      const currentPosition = [{{ longitude }}, {{ latitude }}];

      // Marker de la position actuelle
      new maplibregl.Marker({
        color: "#ff0000",
      })
        .setLngLat(currentPosition)
        .addTo(map);

      // Markers des anciennes positions
      for (const beat of {{ history_json|safe }}) {
        const position = [beat.longitude, beat.latitude];

      new maplibregl.Marker({
        color: "#888888",
      })
        .setLngLat(position)
        .addTo(map);
      }

      // Centrer la carte sur la position actuelle
      map.flyTo({
        center: currentPosition,
        zoom: 5,
      });
    }

    // Chargement initial
    loadMarkers();
  </script>
  </body>
</html>
